@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:wght@100&display=swap');
.hidden {
  display: none;
}
.close-modal {
  visibility: visible;
  opacity: 0;
  transition: visibility 0s .5s, opacity .5s linear;
}
:root {
  background-color: #070807; /* CREDIT: https://realtimecolors.com/ -- Used a Generated Palette. Thanks! */
  scroll-behavior: smooth;
}
body {
  margin: 0%;
  padding: 0%;
}

.footer-logo {
  width: 2rem;
}

.alert-copy {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

.user-section {
  gap: 1rem;
  display: flex;
  justify-content: center;
}

.userInput {
  padding: 1rem;
  border: none;
  border-radius: 1rem;
}

.output, #loremcraft, .text {
  display: flex;
  justify-content: center;
}

.main-out {
  background-color: #141415;
  width: fit-content;
  max-width: 90rem;
  border-radius: 1rem;
  padding: 2rem;
}

.images {
  display: flex;
  justify-content: space-evenly;
  gap: 5rem;
}

.copy:hover, .whyUs__images:hover {
  cursor: pointer;
  animation: bob 2s infinite linear;
}

::-webkit-scrollbar-thumb {
  background-color: #f5f4f5;
}

.text {
  align-items: center;
  gap: 5rem;
}

.generateOptions {
  border-radius: 1rem;
}

@keyframes bob {
  0% {
    transform: translateY(-2px);
  }
  25% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(2px);
  }
  75% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-2px);
  }
}

@keyframes time {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

::-webkit-scrollbar {
  width: .5rem;
}

::-webkit-scrollbar-track {
  background: #9c9698;
}

@media (width <= 460px) {
  .user-section {
    display: flex;
    flex-flow: wrap column;
  }
}
@media (width <= 400px) {
  .images {
    display: flex;
    flex-flow: column wrap;
  }
}

/*


  ______ _____ _______ _     _ _     _ ______    _______  _____  _______    / __   _  _____  _______        _______ _______ ______   _____ 
 |  ____   |      |    |_____| |     | |_____]   |       |     | |  |  |   /  | \  | |     |    |    |      |_____| |  |  | |_____] |     |
 |_____| __|__    |    |     | |_____| |_____] . |_____  |_____| |  |  |  /   |  \_| |_____|    |    |_____ |     | |  |  | |_____] |_____|
                                                                         /                                                                 


*/